{% extends "sitepizza/home.html" %}


{% block static %}

<div class="container">
    <div class="row">
        <div class="divisao">
            <div class="row text-center">
            <h2> Sobre Nós </h2>
                </div>

            <div class="row">
               <p >A pizzaria Marquês abriu em 2009, fruto de uma paixão comum entre dois amigos, as pizzas.
                   João Trindade e Miguel Conceição, dois amigos de infância que decidiram meter as mãos na massa e abrir a sua própria pizzaria.
                   Começaram por arranjar um espaço dentro da sua localidade, Oeiras, onde ainda hoje se situa a Pizzaria Marquês,
                   durante o tempo das remodelações e idealizações do espaço, João e Miguel ocuparam o seu tempo a melhorar as suas receitas e
                   a explorar outras tantas que iam procurando aprender.
	                A 2 de novembro de 2009, a Pizzaria Marquês é inaugurada, num dia especial onde houve pizza de oferta para os clientes e muita animação.
                   As pizzas de João e Miguel ficaram conhecidas na zona e foram ganhando sucesso até aos dias de hoje.</p>
                   <strong><p class="text-center">Esta é a nossa história, faz parte dela e vem provar as pizzas da Pizzaria Marquês! Estamos à tua espera!</p></strong>
            </div>

        </div>
    </div>
</div>

{% endblock %}
